.countries {
    text-align: center;
    line-height: 0.7;
    background: rgba(0, 0, 0, 0)!important;
    border: none!important;
    box-shadow: none!important;
    text-shadow:-1px 0px 2px rgba(46, 46, 46, 0.3),
                0px 1px 2px rgba(46, 46, 46, 0.3),
                1px 0px 2px rgba(46, 46, 46, 0.3),
                0px -1px 2px rgba(46, 46, 46, 0.3);
    color:rgba(255, 255, 255, 0.8)!important;
    font-size: 35px;
    font-family: Copperplate Gothic Light;
    transition: opacity .5s ease-in-out;
}

.inland {
    text-align: center;
    line-height: 1;
    background: rgba(0, 0, 0, 0)!important;
    border: none!important;
    box-shadow: none!important;
    text-shadow:-1px 0px 0px rgba(255, 255, 255, 0.6),
                0px 1px 0px rgba(255, 255, 255, 0.6),
                1px 0px 0px rgba(255, 255, 255, 0.6),
                0px -1px 0px rgba(255, 255, 255, 0.6),
                -1px 0px 1px rgba(255, 255, 255, 0.4),
                0px 1px 1px rgba(255, 255, 255, 0.4),
                1px 0px 1px rgba(255, 255, 255, 0.4),
                0px -1px 1px rgba(255, 255, 255, 0.4);
    color:rgba(0, 0, 0, 0.7)!important;
    font-size: 15px;
    transition: opacity .5s ease-in-out;
}
.forest {
    text-align: center;
    line-height: 1;
    background: rgba(0, 0, 0, 0)!important;
    border: none!important;
    box-shadow: none!important;
    text-shadow:-1px 0px 0px rgba(255, 255, 255, 0.6),
                0px 1px 0px rgba(255, 255, 255, 0.6),
                1px 0px 0px rgba(255, 255, 255, 0.6),
                0px -1px 0px rgba(255, 255, 255, 0.6),
                -1px 0px 1px rgba(255, 255, 255, 0.4),
                0px 1px 1px rgba(255, 255, 255, 0.4),
                1px 0px 1px rgba(255, 255, 255, 0.4),
                0px -1px 1px rgba(255, 255, 255, 0.4);
    color:rgb(68, 118, 52)!important;
    font-size: 13px;
    transition: opacity .5s ease-in-out;
}
.sand {
    text-align: center;
    line-height: 1;
    background: rgba(0, 0, 0, 0)!important;
    border: none!important;
    box-shadow: none!important;
    text-shadow:-1px 0px 0px rgba(255, 255, 255, 0.6),
                0px 1px 0px rgba(255, 255, 255, 0.6),
                1px 0px 0px rgba(255, 255, 255, 0.6),
                0px -1px 0px rgba(255, 255, 255, 0.6),
                -1px 0px 1px rgba(255, 255, 255, 0.4),
                0px 1px 1px rgba(255, 255, 255, 0.4),
                1px 0px 1px rgba(255, 255, 255, 0.4),
                0px -1px 1px rgba(255, 255, 255, 0.4);
    color:rgb(120, 97, 65)!important;
    font-size: 14px;
    transition: opacity .5s ease-in-out;
}

.dark_water {
    text-align: center;
    line-height: 1;
    background: rgba(0, 0, 0, 0)!important;
    border: none!important;
    box-shadow: none!important;
    text-shadow:-1px 0px 0px rgba(255, 255, 255, 0.3),
                0px 1px 0px rgba(255, 255, 255, 0.3),
                1px 0px 0px rgba(255, 255, 255, 0.3),
                0px -1px 0px rgba(255, 255, 255, 0.3);
    color:rgba(24, 33, 77, 0.8)!important;
    font-size: 14px;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
.light_water {
    text-align: center;
    line-height: 1;
    background: rgba(0, 0, 0, 0)!important;
    border: none!important;
    box-shadow: none!important;
    text-shadow:-1px 0px 2px rgba(0, 0, 0, 0.3),
                0px 1px 2px rgba(0, 0, 0, 0.3),
                1px 0px 2px rgba(0, 0, 0, 0.3),
                0px -1px 2px rgba(0, 0, 0, 0.3);
    color:#A7BDD5!important;
    font-size: 14px;
    opacity: .8!important;
    transition: opacity .5s ease-in-out;
}

.light_water:hover, .inland:hover, .forest:hover{
    opacity: .2!important;
}

h1 span, h2 span {
    display:inline-block;
    position: absolute;
    bottom: 0;
    height: 350px;
    text-align: center;
    transform-origin: bottom center;
    font: 36px Xahn Mono;
    line-height: 70px;
    text-shadow:-1px 0px 3px rgba(0, 0, 0, 0.2),
                0px 1px 3px rgba(0, 0, 0, 0.2),
                1px 0px 3px rgba(0, 0, 0, 0.2),
                0px -1px 3px rgba(0, 0, 0, 0.2);
    opacity: .7;
    font-variant: small-caps;
}

/* ocean rotation */
.ne_1 { transform: rotate(6deg); }
.ne_2 { transform: rotate(12deg); }
.ne_3 { transform: rotate(18deg); }
.ne_4 { transform: rotate(24deg); }
.ne_5 { transform: rotate(30deg); }
.ne_6 { transform: rotate(36deg); }
.ne_7 { transform: rotate(42deg); }
.ne_8 { transform: rotate(48deg); }
.ne_9 { transform: rotate(54deg); }
.ne_10 { transform: rotate(60deg); }
.ne_11 { transform: rotate(66deg); }
.ne_12 { transform: rotate(72deg); }
.ne_13 { transform: rotate(78deg); }
.ne_14 { transform: rotate(84deg); }
.ne_15 { transform: rotate(90deg); }
.ne_16 { transform: rotate(96deg); }
.ne_17 { transform: rotate(102deg); }

.sw_1 { transform: rotate(210deg); }
.sw_2 { transform: rotate(216deg); }
.sw_3 { transform: rotate(222deg); }
.sw_4 { transform: rotate(228deg); }
.sw_5 { transform: rotate(234deg); }
.sw_6 { transform: rotate(240deg); }
.sw_7 { transform: rotate(246deg); }
.sw_8 { transform: rotate(252deg); }
.sw_9 { transform: rotate(258deg); }
.sw_10 { transform: rotate(264deg); }
.sw_11 { transform: rotate(270deg); }
.sw_12 { transform: rotate(276deg); }
.sw_13 { transform: rotate(282deg); }
.sw_14 { transform: rotate(288deg); }
.sw_15 { transform: rotate(294deg); }
.sw_16 { transform: rotate(300deg); }
